<div class="comment-container">
  <div class='post-container'>
    <div class='post-header'>
      <h2 class='post-title'>{{post.title}}</h2>
        <div class='post-info'>
          <span class='post-author'>Created by {{post.user.username}}</span>
          <span class='post-date'>on {{format_date post.date_created}}</span>
        </div>
    </div>

    <div class='post-content'>{{post.content}}</div>
  </div>

  <!-- Add spacing between the post and the comment form -->
  <div class='comment-form-container'>
    <!-- Comment Form -->
    <form id='comment-form'>
      <div class='form-group'>
        <input placeholder='Comment...' class='comment-input' />
        <button id='submit-btn' data-post-id={{post.id}}>Comment</button>
        <!-- Add a hidden input to store user_id -->
        <input type='hidden' id='user-id' data-user-id={{user_id}} />
      </div>
    </form>
  </div>

  <!-- Loop through comments that belong to this post and display their comment body -->
  <section class="comment-card">
    {{#each post.comments}}
      {{!-- Logging: {{log 'looping through comments'}} --}}
      <div class="comment-container">
      <div>
        <div>
          <span class="comment-text">{{this.commentBody}}</span>
        </div>
        <div>
          <span class="comment-author">- Comment by {{this.username}}</span>
        </div>
      </div>
      </div>
    {{/each}}
  </section>
</div>

  <!-- Add the script source for comment.js -->
<script src='/js/comment.js'></script>